version: "3.9"
services:
  web:
    build: .
    command: bin/rails s -p 3000 -b 0.0.0.0
    volumes:
      - .:/rubybattle.com
    ports:
      - '3000:3000'
      - '4000:4000'
    env_file:
      - .env/development/web
      - .env/development/database
    tty: true
    stdin_open: true
  redis:
    image: redis
  database:
    image: postgres
    ports:
      - '5432:5432'
    volumes:
      - postgres-data:/var/lib/postgresql/data
    env_file:
      - .env/development/database
  selenium_chrome:
    image: selenium/standalone-chrome-debug
    volumes:
      - .:/rubybattle.com
    logging:
      driver: none
    ports:
      - '5900:5900'
  sidekiq:
    build: .
    command: bundle exec sidekiq -C ./config/sidekiq.yml
    volumes:
      - .:/rubybattle.com
    env_file:
      - .env/development/web
      - .env/development/database
volumes:
  postgres-data:
